.logo
	+bebas
	font-size: 18px
	letter-spacing: -0.6px
	padding-left: 10px

	&__start
		color: $main_decor
	&__end
		color: $help_decor

.navigation
	display: flex
	margin-top: 10px
	padding-right: 10px
	+r(670)
		display: none
	&__item
		+bebas
		color: #B9B9B9
		text-transform: uppercase
		padding-left: 27px
		letter-spacing: 0.05px
		&_is-active
			color: $main_decor
		&:hover
			color: $help_decor
	&__link
		+bebas
		color: $main-decor
		padding: 10px
		+r(544)
			padding: 5


.menu-small
	width: 40px
	height: 40px
	background: transparent url(../img/menu.png) no-repeat 
	background-size: cover
	margin-right: 15px
	display: none
	z-index: 2
	&:hover, &_is-active
		background-image: url(../img/menu_hover.png)
	+r(670)
		display: block

.navigation-small
	position: absolute
	display: flex
	width: 100%
	z-index: 1
	height: 0
	overflow: hidden
	background-color: rgba(232, 96, 60, 0.7)
	margin-top: -25px
	&__item
		display: flex
		text-align: center
		align-items: center
		justify-content: center
		height: 0
		overflow: hidden
		width: 100%
		align-items: center
		
		background-color: #fff
		&:hover
			box-shadow: inset 0px 0px 15px 1px $main_decor
		+r(544)
			font-size: 13px
			padding: 0

		

