.title
	display: flex
	margin-bottom: 15px
	&__left, &__right
		background-color: $help_decor
		flex: 1 1 auto

	&__left
		+r(1100)
			flex: 0 1 75px
		+r(1035)
			flex-basis: auto

	&__center
		background-color: $main_decor
		flex-basis: 940px
		padding: 22px 20px 16px
		+bebas
		color: #fff
		text-transform: uppercase
		margin: 0 10px
		font-size: 24px
		+r(1035)
			flex-basis: 100%
.post
	&__icon
		display: block
		width: 75px
		height: 75px
		margin-left: -85px
		+r(1035)
			display: none
		&_slider
			background: $main_decor url(../img/icon_slider.png) no-repeat center center
		&_img
			background: $main_decor url(../img/icon_img.png) no-repeat center center
		&_video
			background: $main_decor url(../img/icon_video.png) no-repeat center center
		&_quotes
			background: $main_decor url(../img/icon_quotes.png) no-repeat center center
		&_link
			background: $main_decor url(../img/icon_link.png) no-repeat center center
	&__end-line
		margin-bottom: 57px
		height: 14px
		background: #fff url(../img/end-line.png) repeat-x
		margin-top: 30px
		margin-right: 15px

.article
	margin-top: -75px
	+r(1035)
		margin-top: 0
	&__text
		display: flex
		+r(670)
			display: block
.short-info
	font-size: 12px
	flex: 0 0 140px
	padding-left: 2px
	line-height: 20px
	+r(670)
		display: flex
		justify-content: space-around
		margin-bottom: 15px
	+r(400)
		display: block
.info-block
	&__heading
		+bebas
		color: $main_decor
	&__text
		color: #bababa
		+helvLight
		letter-spacing: 0.2px
		margin-bottom: 10px
.tag
	color: #bababa
	+helvLight
	letter-spacing: 0.2px
	padding-right: 3px
	&:not(:first-child):before
		content: "|"
		padding-right: 6px
	&:hover
		text-decoration: underline
.content
	margin-left: 6px
	margin-right: 15px
	flex: 1 1 auto
	color: #414141;
	+helvMedium
	font-size: 12px
	padding-left: 3px
	line-height: 1.5
	letter-spacing: -0.25px	
	p 
		margin-bottom: 18px

	&__heading
		margin-bottom: 10px
		display: block
		+bebas
		color: $main_decor
		font-size: 18px
		letter-spacing: 0px

.picture
	margin-bottom: 22px
	max-width: 670px
	max-height: 300px
	overflow: hidden
	position: relative
	&__img
		width: 100%
		height: 300px

.video
	position: relative
	padding-bottom: 56.25%
	padding-top: 30px
	height: 0
	overflow: hidden
	margin-bottom: 10px
	&__title
		display: flex
		position: absolute
		z-index: 5
		align-items: stretch
		top: 10px
	&__buttons
		position: absolute
		z-index: 5
		top: 0
		right: 0
		margin-right: 20px
		margin-top: 20px
		display: flex
		flex-direction: column
	video
		position: absolute
		top: -15px
		left: 0
		width: 100%
		height: 100%
.channel-logo
	width: 51px
	height: 51px
	background-color: rgba(0,0,0,.7)
	margin: 10px

.video-info
	margin-top: 10px
	+helvLSThv
	font-size: 18px
	color: #fff
	&__name
		color: #00adef
		background-color: rgba(0,0,0,.7)
		margin-bottom: 5px
		display: inline-block
		padding: 3px
		padding-left: 10px
		padding-right: 10px
		
	&__channel
		color: #00adef
	&__wrap
		font-size: 12px
		+helvLSTroman
		background-color: rgba(0,0,0,.7)
		padding: 2px
		padding-left: 10px

.video-btn
	padding-top: 30px
	padding-bottom: 15px
	color: #fff
	font-size: 9px
	+helvLSTmd
	text-transform: uppercase
	width: 50px
	height: 40px
	border-radius: 5px
	margin-bottom: 10px
	&_like
		background: rgba(0,0,0,.7) url(../img/like.png) no-repeat 50% 20%
		&:hover
			background: rgba(0,0,0,.7) url(../img/like_hov.png) no-repeat 50% 20%
			color: #00adef
	&_share
		background: rgba(0,0,0,.7) url(../img/share.png) no-repeat 50% 20%
		&:hover
			background: rgba(0,0,0,.7) url(../img/share_hov.png) no-repeat 50% 20%
			color: #00adef
	&_embed
		background: rgba(0,0,0,.7) url(../img/embed.png) no-repeat 50% 20%
		&:hover
			background: rgba(0,0,0,.7) url(../img/embed_hov.png) no-repeat 50% 20%
			color: #00adef

.article-quotes
	margin-bottom: 54px
	padding: 20px 10px 20px 35px
	min-height: 75px
	background: #f1f1f1 url(../img/bg_quotes.png)
	&__quote
		padding-left: 42px
		background: transparent url(../img/quotes.png) no-repeat
		color: #474747;
		+helvItalic
		font-size: 13px
		line-height: 18px;
.article-link
	margin-bottom: 50px
	&__heading
		color: $main_decor
		+bebas
		font-size: 18px
		letter-spacing: 0.35px
	&__link
		color: #a0a0a0
		+helvLSTroman
		font-size: 12px
		line-height: 18px
		letter-spacing: 0.1px
		margin-left: 2px
	&__text
		margin-top: 19px
		margin-left: 2px
		color: #414141
		+helvLSTroman
		font-size: 12px
		line-height: 18px
.pagination
	display: flex
	margin: 42px 0 50px
	padding-left: 3px
	&__item
		width: 26px
		height: 26px
		display: block
		background-color: $help_decor
		margin-right: 4px
		padding: 7px 10px 4px
		color: #ffffff
		+bebas
		font-size: 14px
		&_is-active
			background-color: $main_decor


