<aside class="aside-section">

<!-- start aside bar with paragraph -->
	<div class="wow zoomIn aside-title" data-wow-delay="2s" data-wow-duration="0.5s">
		<h3>
			<a href="#" class="aside-title__heading">About Jetro
			</a>
		</h3>
		<div class="aside-title__decor"></div>
	</div>
	<section class="wow flipInX aside-bar" data-wow-delay="2.5s" data-wow-duration="0.5s">
		<div class="aside-bar__content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum.</p>
		</div>
	</section>
<!-- end aside bar with paragraph -->

<!-- start aside bar with categoris -->
	<div class="wow zoomIn aside-title" data-wow-delay="3s" data-wow-duration="0.5s">
		<h3>
			<a href="#" class="aside-title__heading">Categories
			</a>
		</h3>
		<div class="aside-title__decor"></div>
	</div>
	<section class="wow flipInX aside-bar" data-wow-delay="3.5s" data-wow-duration="0.5s">
		<div class="aside-bar__content">
			<ul class="categoris">
				<li><a href="#" class="categoris__link">Video <span>(3)</span></a></li>
				<li><a href="#" class="categoris__link">Sports <span>(5)</span></a></li>
				<li><a href="#" class="categoris__link">Media <span>(2)</span></a></li>
				<li><a href="#" class="categoris__link">Entertainment <span>(7)</span></a></li>
				<li><a href="#" class="categoris__link">Life <span>(4)</span></a></li>
				<li><a href="#" class="categoris__link">Super Cool Stuff <span>(8)</span></a></li>
			</ul>
		</div>
	</section>
<!-- end aside bar with categoris -->

<!-- start aside bar with photos -->
	<div class="wow zoomIn aside-title" data-wow-delay="4s" data-wow-duration="0.5s">
		<h3>
			<a href="#" class="aside-title__heading">Photo  Gallery
			</a>
		</h3>
		<div class="aside-title__decor"></div>
	</div>
	<section class="wow flipInX aside-bar" data-wow-delay="4.5s" data-wow-duration="0.5s">
		<div id="lightgallery" class="photos">
				<a href="img/slid/1.jpg" class="photos__item"><img class="galery" src="img/slid/1.jpg" alt="photo_1"></a>
				<a href="img/slid/2.jpg" class="photos__item"><img class="galery" src="img/slid/2.jpg" alt="photo_2"></a>
				<a href="img/slid/3.jpg" class="photos__item"><img class="galery" src="img/slid/3.jpg" alt="photo_3"></a>
				<a href="img/slid/4.jpg" class="photos__item"><img class="galery" src="img/slid/4.jpg" alt="photo_4"></a>
				<a href="img/slid/5.jpg" class="photos__item"><img class="galery" src="img/slid/5.jpg" alt="photo_5"></a>
				<a href="img/slid/6.jpg" class="photos__item"><img class="galery" src="img/slid/6.jpg" alt="photo_3"></a>
				<a href="img/slid/7.jpg" class="photos__item"><img class="galery" src="img/slid/7.jpg" alt="photo_4"></a>
				<a href="img/slid/8.jpg" class="photos__item"><img class="galery" src="img/slid/8.jpg" alt="photo_5"></a>
		</div>
	</section>
<!-- start aside bar with photos -->
{{mixins.icon('left-arrow-angle')}}
</aside>