<header class="wow rubberBand header">
	<a class="logo" href="#"><h1 class="logo__start">jet<span class="logo__end">ro</span></h1></a>
	<nav class="header__nav">
		<ul class="navigation">
			<li><a class="navigation__item" href="#">home</a></li>
			<li><a class="navigation__item" href="#">about us</a></li>
			<li><a class="navigation__item navigation__item_is-active" href="#">blog</a></li>
			<li><a class="navigation__item" href="#">portfolio</a></li>
			<li><a class="navigation__item" href="#">contact us</a></li>
		</ul>
	</nav>
	<button class="menu-small"></button>
	<ul class="navigation-small">
		<li class="navigation-small__item navigation-small__item_1"><a href="#" class="navigation__link">home</a></li>
		<li class="navigation-small__item navigation-small__item_2"><a href="#" class="navigation__link">about us</a></li>
		<li class="navigation-small__item navigation-small__item_3"><a href="#" class="navigation__link">blog</a></li>
		<li class="navigation-small__item navigation-small__item_4"><a href="#" class="navigation__link">portfolio</a></li>
		<li class="navigation-small__item navigation-small__item_5"><a href="#" class="navigation__link">contact us</a></li>
	</ul>
</header>
