<div class="page-blog">

<!-- start title section -->
	<div class="title">
		<div class="title__left"></div>
		<h2 class="title__center">Blog</h2>
		<div class="title__right"></div>
	</div>
<!-- end title section -->

<!-- start main and aside sections -->
	<div class="sections">

<!-- start main section -->
		<main class="main-section">

<!-- start first article with slider -->			
			<article class="frame frame_first">
				<a href="#"><div class="frame__icon frame__icon_slider"></div></a>
				<div class="article">
					<div class="slider">
						<img class="slider__img" src="../img/slider_1.jpg" alt="">
					</div>
					<div class="article__text">
						<div class="short-info">
							<h4><a href="" class="short-info__heading">Date</a></h4>
							<p class="short-info__text">April 15, 2012	</p>
							<h4><a href="" class="short-info__heading">Tags</a></h4>
							<p class="short-info__text"><a href="#" class="tag">Website</a><a href="#" class="tag">Design</a></p>
							<h4><a href="" class="short-info__heading">Comments</a></h4>
							<p class="short-info__text">4</p>
						</div>
						<div class="content">
							<h3><a href="" class="content__heading">Top  WordPress  Themes  of  2012</a></h3>
							<p class="content__paragraph">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
							<p class="content__paragraph">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
						</div>
					</div>
				</div>
				<div class="frame__end-line"></div>		
			</article>
<!-- end first first article with slider -->

<!-- start second article with image -->
			<article class="frame frame_media">
				<a href="#"><div class="frame__icon frame__icon_img"></div></a>
				<div class="article">
					<div class="slider">
						<img class="slider__img" src="../img/slider_2.jpg" alt="">
					</div>
					<div class="article__text">
						<div class="short-info">
							<h4><a href="" class="short-info__heading">Date</a></h4>
							<p class="short-info__text">April 15, 2012	</p>
							<h4><a href="" class="short-info__heading">Tags</a></h4>
							<p class="short-info__text"><a href="#" class="tag">Website</a><a href="#" class="tag">Design</a></p>
							<h4><a href="" class="short-info__heading">Comments</a></h4>
							<p class="short-info__text">4</p>
						</div>
						<div class="content">
							<h3><a href="" class="content__heading">Jesus  Typography  Wallpaper  Giveaway!</a></h3>
							<p class="content__paragraph">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
							<p class="content__paragraph">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
						</div>
					</div>
				</div>
				<div class="frame__end-line"></div>		
			</article>
<!-- end second article with image -->

<!-- start third article with video -->
			<article class="frame frame_media">
				<a href="#"><div class="frame__icon frame__icon_video"></div></a>
				<div class="article">
					<div class="slider">
						<img class="slider__img" src="../img/slider_3.jpg" alt="">
					</div>
					<div class="article__text">
						<div class="short-info">
							<h4><a href="" class="short-info__heading">Date</a></h4>
							<p class="short-info__text">April 15, 2012	</p>
							<h4><a href="" class="short-info__heading">Tags</a></h4>
							<p class="short-info__text"><a href="#" class="tag">Website</a><a href="#" class="tag">Design</a></p>
							<h4><a href="" class="short-info__heading">Comments</a></h4>
							<p class="short-info__text">4</p>
						</div>
						<div class="content">
							<h3><a href="" class="content__heading">Big  Buck  Bunny  Trailer</a></h3>
							<p class="content__paragraph">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
							<p class="content__paragraph">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
						</div>
					</div>
				</div>
				<div class="frame__end-line"></div>		
			</article>
<!-- end third article with video -->

<!-- start fourth article with quotes -->
			<article class="frame frame_quotes">
				<a href="#"><div class="frame__icon frame__icon_quotes"></div>
				</a>
				<div class="article article-quotes">
					<p class="article-quotes__quote">Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you. </p>
				</div>
				<div class="frame__end-line"></div>		
			</article>
<!-- end fourth article with quotes -->

<!-- start fifth article with link -->
			<article class="frame frame_link">
				<a href="#"><div class="frame__icon frame__icon_link"></div>
				</a>
				<div class="article article-link">
					<h3>
						<a href="#" class="article-link__heading">Some  of  the  best  freebies  on  the  web</a>
					</h3>
					<a href="#" class="article-link__link">www.bestpsdfreebies.com</a>
					<p class="article-link__text">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.</p>
				</div>
				<div class="frame__end-line"></div>
			</article>
<!-- end fifth article with link -->

<!-- start pagination -->
			<ul class="pagination">
				<li><a href="#" class="pagination__item pagination__item_is-active">1</a></li>
				<li><a href="#" class="pagination__item">2</a></li>
				<li><a href="#" class="pagination__item">3</a></li>
			</ul>
<!-- end pagination -->

		</main>
<!-- end main section -->

		{% include "partials/_aside.html" %}
		

	</div>
<!-- end main and aside sections -->

</div>
<!-- end page-blog -->