<div class="page-blog">

<!-- start title section -->
	<div class="wow rubberBand title">
		<div class="title__left"></div>
		<h2 class="title__center">Blog</h2>
		<div class="title__right"></div>
	</div>
<!-- end title section -->

<!-- start main and aside sections -->
	<div class="sections">

<!-- start main section -->
		<main class="main-section">

<!-- start first article with slider -->			
			<article class="wow bounceInLeft post" data-wow-delay="1s">
				<a href="#"><div class="post__icon post__icon_slider"></div></a>
				<div class="article">
					<div class="slider">
						<img class="slider__img" src="img/slider_1_1.jpg" alt="">
						<img class="slider__img" src="img/slider_1_2.jpg" alt="">
						<img class="slider__img" src="img/slider_1_3.jpg" alt="">
						<img class="slider__img" src="img/slider_1_4.jpg" alt="">
					</div>
					<div class="article__text">
						<div class="short-info">
							<div class="info-block">
								<h4><a href="" class="info-block__heading">Date</a></h4>
								<p class="info-block__text">April 15, 2012</p>
							</div>
							<div class="info-block">
								<h4><a href="" class="info-block__heading">Tags</a></h4>
								<p class="info-block__text"><a href="#" class="tag">Website</a><a href="#" class="tag">Design</a></p>
							</div>
							<div class="info-block">
								<h4><a href="" class="info-block__heading">Comments</a></h4>
								<p class="info-block__text">4</p>
							</div>
						</div>
						<div class="content">
							<h3><a href="" class="content__heading">Top  WordPress  Themes  of  2012</a></h3>
							<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
							<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
						</div>
					</div>
				</div>
				<div class="post__end-line"></div>		
			</article>
<!-- end first first article with slider -->

<!-- start second article with image -->
			<article class="wow bounceInRight post" data-wow-offset="200">
				<a href="#"><div class="post__icon post__icon_img"></div></a>
				<div class="article">
					<div class="picture">
						<img class="picture__img lazy" data-src="img/slider_2.jpg" alt="">
					</div>
					<div class="article__text">
						<div class="short-info">
							<div class="info-block">
								<h4><a href="" class="info-block__heading">Date</a></h4>
								<p class="info-block__text">April 15, 2012	</p>
							</div>
							<div class="info-block">
								<h4><a href="" class="info-block__heading">Tags</a></h4>
								<p class="info-block__text"><a href="#" class="tag">Website</a><a href="#" class="tag">Design</a></p>
							</div>
							<div class="info-block">
								<h4><a href="" class="info-block__heading">Comments</a></h4>
								<p class="info-block__text">4</p>
							</div>
						</div>
						<div class="content">
							<h3><a href="" class="content__heading">Jesus  Typography  Wallpaper  Giveaway!</a></h3>
							<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
							<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
						</div>
					</div>
				</div>
				<div class="post__end-line"></div>		
			</article>
<!-- end second article with image -->

<!-- start third article with video -->
			<article class="wow bounceInLeft post" data-wow-offset="200">
				<a href="#"><div class="post__icon post__icon_video"></div></a>
				<div class="article">
					<div class="video">
						<div class="video__title">
							<div class="channel-logo"></div>
							<div class="video-info">
								<a class="video-info__name" href="#">Title For Movie Goes Here</a>
								<p class="video-info__wrap">from <a class="video-info__channel" href="#">Your Channel</a></p>
							</div>
						</div>
						<div class="video__buttons">
							<button class="video-btn video-btn_like">like</button>
							<button class="video-btn video-btn_share">share</button>
							<button class="video-btn video-btn_embed">embed</button>
						</div>
						<video controls>
							<source src="video/movie.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video> 
					</div>
					<div class="article__text">
						<div class="short-info">
							<div class="info-block">
								<h4><a href="" class="info-block__heading">Date</a></h4>
								<p class="info-block__text">April 15, 2012	</p>
							</div>
							<div class="info-block">
								<h4><a href="" class="info-block__heading">Tags</a></h4>
								<p class="info-block__text"><a href="#" class="tag">Website</a><a href="#" class="tag">Design</a></p>
							</div>
							<div class="info-block">
								<h4><a href="" class="info-block__heading">Comments</a></h4>
								<p class="info-block__text">4</p>
							</div>
						</div>
						<div class="content">
							<h3><a href="" class="content__heading">Big  Buck  Bunny  Trailer</a></h3>
							<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
							<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
						</div>
					</div>
				</div>
				<div class="post__end-line"></div>		
			</article>
<!-- end third article with video -->

<!-- start fourth article with quotes -->
			<article class="wow bounceInRight post" data-wow-offset="200">
				<a href="#"><div class="post__icon post__icon_quotes"></div>
				</a>
				<div class="article article-quotes">
					<p class="article-quotes__quote">Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you. </p>
				</div>
				<div class="post__end-line"></div>		
			</article>
<!-- end fourth article with quotes -->

<!-- start fifth article with link -->
			<article class="wow bounceInLeft post" data-wow-offset="200">
				<a href="#"><div class="post__icon post__icon_link"></div>
				</a>
				<div class="article article-link">
					<h3>
						<a href="#" class="article-link__heading">Some  of  the  best  freebies  on  the  web</a>
					</h3>
					<a href="#" class="article-link__link">www.bestpsdfreebies.com</a>
					<p class="article-link__text">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.</p>
				</div>
				<div class="post__end-line"></div>
			</article>
<!-- end fifth article with link -->

<!-- start pagination -->
			<ul class="wow bounceInDown pagination" data-wow-delay="1s">
				<li><a href="#" class="pagination__item pagination__item_is-active">1</a></li>
				<li><a href="#" class="pagination__item">2</a></li>
				<li><a href="#" class="pagination__item">3</a></li>
			</ul>
<!-- end pagination -->

		</main>
<!-- end main section -->

		{% include "partials/_aside.html" %}
		

	</div>
<!-- end main and aside sections -->

</div>
<!-- end page-blog -->
